name: Build

on:
  push:
    branches: [ dalamud ]

jobs:

  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Download Dalamud
      run: |
        Invoke-WebRequest -Uri https://goatcorp.github.io/dalamud-distrib/stg/latest.zip -OutFile latest.zip
        Expand-Archive -Force latest.zip "$env:AppData\XIVLauncher\addon\Hooks\dev"

    - name: Build with dotnet
      working-directory: .\machina.ffxiv
      run: dotnet build -c Release

    - name: Store Machina.dll
      uses: actions/upload-artifact@v4
      with:
        name: Machina
        path: D:/a/machina/machina/Machina.FFXIV/bin/Release/net8.0/Machina.dll
        if-no-files-found: error
        retention-days: 1

    - name: Store Machina.FFXIV.dll
      uses: actions/upload-artifact@v4
      with:
        name: Machina.FFXIV
        path: D:/a/machina/machina/Machina.FFXIV/bin/Release/net8.0/Machina.FFXIV.dll
        if-no-files-found: error
        retention-days: 1
