name: Build

on:
  push:
    branches: [ master ]

jobs:

  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Setup .NET SDK 10
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '10'

    - name: Build with dotnet
      run: dotnet build -c Release

    - name: Store Machina.dll
      uses: actions/upload-artifact@v5
      with:
        name: Machina
        path: Machina.FFXIV/bin/Release/net10.0/Machina.dll
        if-no-files-found: error
        retention-days: 1

    - name: Store Machina.FFXIV.dll
      uses: actions/upload-artifact@v5
      with:
        name: Machina.FFXIV
        path: Machina.FFXIV/bin/Release/net10.0/Machina.FFXIV.dll
        if-no-files-found: error
        retention-days: 1
